@import "style_variables.sass"

@media (max-width: 430px)
    .arch_block
        max-width: 90%
        .arch_examples
            grid-template-rows: 0.5fr 1fr 0.3fr
            grid-template-columns: 1fr
            .desktop_only
                display: none
            .arch_examples_slider
                max-width: 220px
                margin: 0 auto
                overflow: hidden
            .mobile_only
                display: flex
                justify-content: space-around
                width: 40%
                margin: 20px auto 0 auto
                img
                    margin-top: 10px
                    width: 50px
                    height: 50px   
    
@media (min-width: 431px)
    .arch_block
        max-width: 80%
        .arch_examples
            grid-template-columns: 2fr 0.3fr 200px 0.3fr
            grid-template-rows: none
            .arch_examples_slider
                max-width: 220px
            .desktop_only
                img.arrow
                    margin-top: 100px
                    cursor: pointer
                    z-index: 8
            .mobile_only
                display: none
    
@media (min-width: 769px)
    .arch_block
        max-width: 80%
        .arch_examples
            .arch_examples_slider
                max-width: 300px
            grid-template-columns: 2fr 0.3fr 300px 0.3fr
            .desktop_only
                img.arrow
                    margin-top: 143px
        .arch_intro, p
            font-size: 1.7rem
    
@media (min-width: 1024px)
    .arch_block
        h2
            font-size: 3rem
        .arch_intro, p
            font-size: 2rem
        .arch_intro
            margin-top: 40px
            p
                margin-top: 50px
        .arch_examples
            margin-top: 60px
        .arch_afterwords
            margin-top: 60px
            max-width: 80%
            display: block
            margin: 0 auto
        .arch_intro, p
            font-size: 1.8rem

@media (min-width: 1400px)
    .arch_block
        h2
            font-size: 3.5rem
        .arch_intro, p
            font-size: 2rem
            
.arch_block
    margin: 0 auto
    text-align: center
    line-height: 1.8
    span
        color: $main_orange


.arch_examples
    padding: 30px 0 30px 0
    margin: 40px 0 40px 0
    border-radius: 5px
    background-color: white
    display: grid
    box-shadow: $main_img_shadow
    
    justify-content: space-around
    position: relative
    .arch_examples_text
        position: relative
        p
            padding: 0
            margin: 0
            width: 100%
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
 

.arch_examples_slider
    overflow: hidden
    

.arch_tape
    display: flex
    .arch_ex
        margin: 0 10px 0 10px


img.arrow
    width: 30px
    height: 30px
    cursor: pointer
    z-index: 8
img.left_arrow
    rotate: 180deg

.arrow_container.mobile_only
    display: flex
    justify-content: space-between