@import "style_variables.sass"

@keyframes btn_to_dark
    from
        background-color: $main_blue
    to
        background-color: $dark_blue

.standard_button
    width: 210px
    height: 70px
    border: none
    border-radius: 5px
    cursor: pointer
    background-color: $main_blue
    color: $main_lightgrey

.standard_button:hover
    animation: btn_to_dark 1.5s forwards
