@import "style_variables.sass"

.city_day_block
    margin: 90px auto 0 auto
    h2
        text-align: center
    div
        text-align: center
    .bd_slider_container
        margin: 60px auto 0 auto
        border-radius: 10px 10px 0 0 
        background-color: white
        display: grid
        grid-template-rows: 0.5fr 0.5fr
        .bd_slider_text
            width: 80%
            margin: 0 auto
            display: grid
            grid-template-columns: 0.2fr 0.8fr
            grid-row-start: 2
            grid-row-end: 3
            min-height: 100px
            .bd_arrow_container
                position: relative
                img
                    object-fit: cover
                    display: block
                    position: absolute 
                    top: 50%
                    left: 70%
                    transform: translate(-50%, -50%)
            .bd_arrow_text
                position: relative
                p
                    width: 100%
                    margin: 0
                    position: absolute 
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)           
        .bd_slider_block
            margin: 0 auto
            position: relative
            height: 100px
            .slider_wrapper
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                .bd_slider_window
                    margin: 0 auto
                    background-color: $main_lightgrey
                    border: solid
                    border-color: $main_orange
                    border-radius: 999px
                    overflow: hidden
                    position: relative
                    .bd_slider_tape
                        color: white
                        background-color: $main_blue
                        border-radius: 30px
                        display: flex
                        position: absolute
                        .bd_slider_handle
                            width: 55px
                            height: 55px
                            background-color: $main_orange
                            border-radius: 25px
                        .bd_slider_handle:hover
                            cursor: pointer
                        .bd_slider_date
                            p
                                display: block
                                margin-left: 60%
                                margin-top: 30%

    .bd_counter_container
        border: solid
        border-width: 8px
        border-color: white
        height: 0px
        transition-duration: 1.5s
        position: relative
        p
            margin: 0
            display: none
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            transition-duration: 0.5s
    .bd_info_container
        margin: 0 0 0 4px
        padding-bottom: 10px
        height: 0
        display: grid
        gap: 15px
        transition-duration: 1s
        .bd_celebration_info
            display: none
            opacity: 0
            min-height: 300px
            padding: 15px
            line-height: 1.5
            background-color: white
            border-radius: 8px 0 0 8px
            transition-duration: 2s
        .bd_history_steps
            overflow: hidden
            padding-bottom: 5px
            min-height: 300px
            display: grid
            gap: 8px
            grid-template-columns: repeat(12, 1fr)
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr
            .step_container
                width: 100%
                height: 100%
                margin-bottom: 2px
                display: flex
                justify-content: space-between
                border-bottom: solid
                border-color: $main_orange
                font-size: 1.5rem
                transform: translateX(-101%)
                transition-duration: 2s
                .step_year
                    width: 120px
                    background-color: $main_blue
                    color: white
                    position: relative
                    p
                        margin: 0 auto
                        position: absolute                
                        display: block
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
                .step_text
                    width: 100%
                    position: relative
                    background-color: white
                    p
                        width: 95%
                        position: absolute
                        margin: 0 auto
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)
            .step_1
                grid-column-start: 1
                grid-column-end: 13
            .step_2
                grid-column-start: 1
                grid-column-end: 12
            .step_3
                grid-column-start: 1
                grid-column-end: 11
            .step_4
                grid-column-start: 1
                grid-column-end: 10
            .step_5
                grid-column-start: 1
                grid-column-end: 9

@media (min-width: 1px) and (max-width: 430px)
    .city_day_block
        max-width: 90%
        .question_block
            margin-top: 50px
        .bd_slider_container
            padding: 0 10px 0 10px
            grid-template-rows: 0.5fr 0.5fr
            .bd_slider_text
                .bd_arrow_container
                    img
                        width: 45px
                        height: 45px
                .bd_arrow_text
                    p
                        font-size: 1.3rem
            .bd_slider_block
                width: 80%
                .slider_wrapper
                    .bd_slider_window
                        width: 160px 
                        height: 50px
                        .bd_slider_tape 
                            width: 170px
                            height: 50px
                            left: 110px
        .bd_counter_container
            font-size: 1.9rem
        .bd_info_container
            grid-template-rows: 0.5fr 0.5fr
            .bd_celebration_info
                font-size: 1.5rem
                grid-row-start: 3
                grid-row-end: 2
            .bd_history_steps
                grid-row-start: 2
                grid-row-end: 1
@media (min-width: 431px) and (max-width: 768px)
    .city_day_block
        max-width: 80%
        .bd_slider_container
            grid-template-rows: 0.5fr 0.5fr
            max-width: 100%
            .bd_slider_text
                .db_arrow_container
                    img
                        width: 60px
                        height: 60px
                .bd_arrow_text
                    p
                        font-size: 1.5rem
            .bd_slider_block
                width: 80%
                .slider_wrapper
                    .bd_slider_window
                        width: 200px 
                        height: 50px
                        .bd_slider_tape 
                            width: 200px
                            height: 50px
        .bd_counter_container
            font-size: 1.9rem
        .bd_info_container
            grid-template-rows: 0.5fr 0.5fr
            .bd_celebration_info
                font-size: 1.6rem
                grid-row-start: 3
                grid-row-end: 2
            .bd_history_steps
                grid-row-start: 2
                grid-row-end: 1
@media (min-width: 769px) and (max-width: 1149px)
    .city_day_block
        max-width: 80%
        .bd_slider_container
            padding: 0 40px 0 40px
            .bd_slider_text
                .db_arrow_container
                    img
                        width: 60px
                        height: 60px
            .bd_slider_block
                width: 100%
                .slider_wrapper
                    .bd_slider_window
                        width: 200px 
                        height: 50px
                        .bd_slider_tape 
                            width: 200px
                            height: 55px
                            left: 150px
        .bd_info_container
            grid-template-columns: 0.5fr 0.5fr
            .bd_celebration_info
                font-size: 1.5rem
@media (min-width: 1150px) and (max-width: 1400px)
    .city_day_block
        max-width: 80%
        .bd_slider_container
            padding: 0 40px 0 40px
            .bd_slider_text
                .db_arrow_container
                    img
                        width: 60px
                        height: 60px
            .bd_slider_block
                width: 100%
                .slider_wrapper
                    .bd_slider_window
                        width: 200px 
                        height: 50px
                        .bd_slider_tape 
                            width: 200px
                            height: 55px
                            left: 150px
        .bd_counter_container
            font-size: 2rem
        .bd_info_container
            grid-template-columns: 0.5fr 0.5fr
            .bd_celebration_info
                font-size: 1.7rem
@media (min-width: 1401px) and (max-width: 1650px)
    .city_day_block
        max-width: 80%
        .bd_slider_container
            padding: 0 20px 0 20px
            .bd_slider_text
                .bd_arrow_container
                    img
                        width: 40px
                        height: 40px
            .bd_slider_block
                width: 100%
                .slider_wrapper
                    .bd_slider_window
                        width: 200px 
                        height: 50px
                        .bd_slider_tape 
                            width: 205px
                            height: 55px
                            left: 150px
        .bd_counter_container
            font-size: 2.2rem
        .bd_info_container
            grid-template-columns: 0.5fr 0.5fr
            .bd_celebration_info
                font-size: 1.9rem
@media (min-width: 1651px)
    .city_day_block
        max-width: 80%
        .bd_slider_container
            padding: 0 40px 0 40px
            .bd_slider_text
                .bd_arrow_container
                    img
                        width: 50px
                        height: 50px
            .bd_slider_block
                width: 100%
                .slider_wrapper
                    width: 200px 
                    height: 50px
                    .bd_slider_window
                        width: 200px 
                        height: 50px
                        .bd_slider_tape 
                            width: 210px
                            height: 50px
                            left: 150px
        .bd_counter_container
            font-size: 2.5rem
        .bd_info_container
            grid-template-columns: 0.5fr 0.5fr