@import "style_variables.sass"
@import "buttons.sass"
@import "header_style.sass"
@import "greet.sass"
@import "arch_style.sass"
@import "entertainment_style.sass"
@import "recommendations_style.sass"
@import "footer_style.sass"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@media (min-width: 1px) and (max-width: 430px)
    body
        max-width: 430px
        main
            font-size: 1.8rem
            div.desktop_only
                display: none

@media (min-width: 431px)
    body
        width: 90%
        font-size: 1.1rem
        main
            h2
                padding-top: 20px

@media (min-width: 431px) and (max-width: 768px)
    body
        width: 100%

@media (min-width: 1024px)
    body
        width: 80%
        font-size: 1.5rem
    
@media (min-width: 1200px)
    body
        width: 80%
        font-size: 2rem

html
    font-family: 'Roboto', sans-serif
    font-size: 10px

body
    padding: 0
    margin: 0 auto
    background-color: $main_lightgrey    
    
    
    main
        section
            width: 85%
        
    footer
        background-color: lightyellow

.centered
    position: absolute
    top: 50%
    transform: translateY(-50%)